<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
    <title>VoidHub - Log in</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/v/all">All</a></li>
            <li><a href="/v/oidhub">Official VoidHub</a></li>
            <li><a href="/v/IamA">IamA</a></li>
            <li><a href="/v/memes">Memes</a></li>
            <li><a href="/login">Log in</a></li>
        </ul>
    </nav>
    <hr>
    <div class="create-community">
    <form action="/login" method="post">
        <div class="container">
            <h3>username</h3>
            <p></p>
            <input name="username" required>
        </div><br>
        <div class="container">
            <h3>password</h3>
            <input name="password" type="password" required>
        </div><br>
        <div class="container">
            <h3>login</h3>
            <input type="submit">
        </div>
    
    </form>
    </div>
</body>
</html>